
.grid-con { 
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .box {
    background-color: rgb(211, 176, 230);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
  }

  .box2 {
    background-color: rgb(240, 197, 117);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
  }

  
  .box3 {
    background-color: rgb(109, 149, 74);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:5px;
  }

  .box4 {
    background-color: rgb(108, 140, 161);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:5px;
  }

  .box5{

    background-color: rgb(251, 203, 255);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom:5px;
  }

  .box6{

    background-color: rgb(239, 246, 147);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:5px;
    

  }